* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.navbar__brands {
    width: 100px;
    height: 100%;
}

.brand__logo {
    margin: .4rem;
    width: 100%;
    height: 100%;
}

.navbar__nav__items {
    display: flex;
    gap: .4rem;
}

.navbar {
    position:absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3% 2.5%;
    align-items: center;
    z-index: 10;
}

.hero__bg__image__container {
    width: 100%;
    height: 75vh;
}

.hero__bg__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__bg__overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.616);
    inset: 0;
    width: 100%;
    height: 75vh;
    top: 0;
    left: 0;
    
} 

.languages__drop__down {
    background: transparent;
    border: none;
    color: white;
    font-size: medium;
}

.dropdown__container {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    padding: .4rem;
    border-radius: .1rem;
}

.signin__btn {
    background: #dc030f;
    border: 1px solid #dc030f;
    color: white;
    padding: .4rem .6rem;
    border-radius: 4px;
    text-align: center;
    font-size: 1rem;
}

.hero__card {
    position: absolute;
    top: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


@media (min-width: 768px) {
    .hero__bg__image__container {
        height: 100vh;
    }

    .hero__bg__overlay {
        height: 100vh;
    }
    
    .hero__card {
        top: 50%;
        left: 30%;
        transform:translate(-20%, -20%) ;
    }

    .hero__title {
        font-weight: 600;
        font-size: 3rem;
    }

    .hero__subtitle, .hero__description {
        font-weight: 400;
        font-size: 1.3rem;
    }
}
@media (min-width: 1024px) {
    .navbar {
        padding: 2% 5%;
    }

    .navbar__brands {
        width: 200px;
    }

    .signin__btn {
        padding: 10px 20px;
        font-size: 18px;
    }

    .dropdown__container {
        padding: 10px 20px;
    }

    .hero__bg__image__container {
        height: 100vh;
    }

    .hero__bg__overlay {
        height: 100vh;
    }
    
    .hero__card {
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%) ;
    }

    .hero__title {
        font-weight: 900;
        font-size: 3.5rem;
    }

    .hero__subtitle, .hero__discription {
        font-weight: 400;
        font-size: 1.3rem;
    }

}
@media (min-width: 1254px) {
    
}
